@model YellowStone.Web.ViewModels.OnboardingViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject YellowStone.Services.IAppConfig appConfig;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<script type="text/javascript">
    var baseUrl = '@appConfig.BasePath';

</script>


<div class="main-body" style="margin-left:10px;">

    <div class="row">
        <p style="padding-right: 10px; padding-left:15px; font-size:20px;">
            Archives
        </p>
    </div>

    <div class="bordered-div2">
        <div id="ContactContainer">
            @await Html.PartialAsync("_Archives", Model.OnboardingHistoryViewModel)
        </div>
    </div>

</div>

<div class="modal fade" id="ViewUserModal" tabindex="-1" z-index="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#455a64; color: #ffffff">
                <h5 class="modal-title" id="exampleModalLongTitle">Onboarding Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-sm-12" id="ViewUserContainer">
                        <div id="view-1">
                            <div id="divDataPreview"></div>
                            <div id="divUploadPreview"></div>
                            <div id="divComments"></div>
                        </div>

                        <br />
                        <br />


                        <input type="hidden" id="viewState" />
                        <input type="hidden" id="hdfId" />
                        @if ((await AuthorizationService.AuthorizeAsync(User, ViewBag.user, "ApproveOnboarding")).Succeeded)
                        {
                            <div class="row">
                                <div class="col-lg-4 right">
                                    <label>Comment </label>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <textarea rows="5" cols="30" name="description" id="txtComment"></textarea>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>

                            <br />
                            <br />
                            <div class="row" id="divButtons">
                                <div class="col-lg-4">

                                </div>
                                <div class="col-lg-4 text-center">
                                    <input type="button" id="btnReject" value="Reject" class="btn btn-default" /> &nbsp;&nbsp;
                                    <input type="submit" id="btnApprove" value="Approve" class="btn btn-primary" />
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="BtnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
     var table = $('#onboardingList').DataTable({
        "bProcessing": true,
        "pageLength": 10,
        "bFilter": true,
        "bInfo": true,
        scrolly: 400,
        lengthMenu: [
            [10, 25, 50, 100, 500, -1],
            ['10 records', '25 records', '50 records', '100 records', '500 records', 'Show all']
        ]
     });

    var timeoutUrl = "@Url.Content("~/Account/Login")";


    function ViewOnboarding(id,accountNumber) {
        GetAccountDetails(accountNumber);
        GetAttachments(accountNumber);
        GetComments(id);

        $('#hdfId').val(id);
        $('#ViewUserModal').modal();
    }

     function GetAccountDetails(accountNumber) {
       var url = baseUrl + '/Onboarding/GetAccountDetails?accountNumber=' + accountNumber;
        AjaxRequest(url, 'GET', null, timeoutUrl, function (response) {
            $("#divDataPreview").html(response);
        });
    }

     function GetAttachments(accountNumber) {
         var url = baseUrl + '/Onboarding/GetAttachments?accountNumber=' + accountNumber;
         AjaxRequest(url, 'GET', null, timeoutUrl, function (response) {
             $("#divUploadPreview").html(response);
              $('.fordelete').hide();
         });
    }

    function GetComments(requestId) {
         var url = baseUrl + '/Onboarding/GetComments?requestId=' + requestId;
         AjaxRequest(url, 'GET', null, timeoutUrl, function (response) {
             $("#divComments").html(response);
         });
     }

    function ViewAttachment(id) {
    var url = baseUrl + "/Onboarding/GetFile?Id=" + id;
        window.open(url, "_blank");
    }



</script>
