

    <!-- CUSTOMER FAQ START -->
<div class="accordion faq-customer" id="accordionCustomer">
    <div class="card">
        <div class="card-header accordhover" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="ToggleFunc('headingOne','plusOne')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    How can I transact on FBN Mobile?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusOne" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionCustomer">
            <div class="card-body">
                <ul>
                    <li>Firstly, accept the terms and conditions.</li>
                    <li>Secondly provide your account number.</li>
                    <li>Thirdly onboard using your FirstBank card.</li>
                    <li>Fourthly Setup FBN Mobile Pin</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" data-toggle="collapse">
        <div class="card-header accordhover" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="ToggleFunc('headingTwo','plusTwo')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    What transactions can be done through FBN Mobile?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusTwo" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCustomer">
            <div class="card-body">
                <h6>The transactions available on FBN Mobile are:</h6> 
                <br />
                <ul>
                    <li>Check Balance</li>
                    <li>Send Money</li>
                    <li>Pay Bills</li>
                    <li>Buy Airtime</li>
                    <li>Buy Data</li>
                    <li>Mini Statement</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="ToggleFunc('headingThree','plusThree')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Will I be charged for transactions?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusThree" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCustomer">
            <div class="card-body">
                <h6>Yes. The charges will be displayed. </h6>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" onclick="ToggleFunc('headingFour','plusFour')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Why can't I see all my accounts?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusFour" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionCustomer">
            <div class="card-body">
                <ul>
                    <li>The account has multiple signatories</li>
                    <li>The account is not part of the scheme codes profiled for FBN Mobile  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick="ToggleFunc('headingFive','plusFive')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Why can’t I onboard on FBN Mobile Chat Banking?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusFive" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionCustomer">
            <div class="card-body">
                <h6>The following reasons are:</h6>
                <br />
                <ul>
                    <li>The customer’s card is expired.</li>
                    <li>The customer’s phone no is not allocated on the alert platform.</li>
                    <li>The customer’s account type is not profiled for FBN Mobile banking (such as Corporate account).</li>
                    <li>The customer has no data</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick="ToggleFunc('headingSix','plusSix')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    What if I forget my FBN Mobile Chat Banking PIN?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusSix" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionCustomer">
            <div class="card-body">
                <h6>These are the steps to follow if a customer forgets the FBN Mobile Pin:</h6>
                <br />
                <ul>
                    <li>Go to settings and click reset pin. Verify using your FirstBank card details.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" onclick="ToggleFunc('headingSeven','plusSeven')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Can I change my FBN Mobile Chat Banking PIN?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusSeven" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionCustomer">
            <div class="card-body">
                <ul>
                    <li>Go to settings. Select between change pin and reset pin</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" onclick="ToggleFunc('headingEight','plusEight')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Can I Opt out of FBN Mobile Chat Banking?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusEight" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionCustomer">
            <div class="card-body">
                <ul>
                    <li>Click on settings. Select the opt out option, accept the terms and condition and then authorize using your FirstBank card</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingNine" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine" onclick="ToggleFunc('headingNine','plusNine')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    How do I transact through FBN Mobile?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusNine" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionCustomer">
            <div class="card-body">
                <ul>
                    <li>Firstly, accept the terms and conditions.</li>
                    <li>Secondly provide your account number.</li>
                    <li>Thirdly onboard using your FirstBank card</li>
                    <li>Fourthly Setup FBN Mobile Pin</li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <!-- CUSTOMER FAQ END -->

    <!-- SUPPORT FAQ START -->
<div class="accordion faq-support" id="accordionSupport">
   
    <div class="card">
        <div class="card-header accordhover" id="headingTen" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen" onclick="ToggleFunc('headingTen','plusTen')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Why can't I transact on FBN Mobile Chat Banking?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusTen" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>

        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionSupport">
            <div class="card-body">
                <h6>These are the following reasons:</h6>
                <br />
                <ul>
                    <li>Low balance available on the customer’s account</li>
                    <li>Check the status of the customer’s account such as if the account is blocked, has a lien etc.</li>
                    <li>Customer has no data</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" data-toggle="collapse">
        <div class="card-header accordhover" id="headingEleven" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" onclick="ToggleFunc('headingEleven','plusEleven')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    What happens when I initiate a transaction on FBN Mobile Chat Banking and didn’t get value?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusEleven" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionSupport">
            <div class="card-body">
                <ul>
                    <li>Search the customer’s account on Finacle to check the transaction if successful or failed.</li>
                    <li>Escalate to E-settlement team for further engagement. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingTwelve" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve" onclick="ToggleFunc('headingTwelve','plusTwelve')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Will I be able to use FBN Mobile Chat Banking if my ATM card expires?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusTwelve" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionSupport">
            <div class="card-body">
                <ul>
                    <li><b>Before Opt in:</b> The customer will not be fully enrolled to FBN Mobile as the card details are needed for authorization.</li>
                    <li><b>After Opt in:</b> The customer will not be able to use the card to Opt out and will need to request for a new card. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingThreee" data-toggle="collapse" data-target="#collapseThreee" aria-expanded="false" aria-controls="collapseThreee" onclick="ToggleFunc('headingThreee','plusThreee')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Can I download the FBN Mobile Messenger on multiple phones?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusThreee" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseThreee" class="collapse" aria-labelledby="headingThreee" data-parent="#accordionSupport">
            <div class="card-body">
                <ul>
                    <li>Yes you can. But you can only have FBN Mobile Banking platform on one FBN Mobile instance. So even if I have FBN Mobile installed on all my smartphones, I can only use that linked profile on one phone/app. There are some devices like the Samsung Galaxy Note 8 that allow you to have 2 FBN Mobile instances (2 same apps installed on the same phone) but you can only use the FBN Mobile banking platform on the profile to which the sms alert number is linked. </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header accordhover" id="headingThreeee" data-toggle="collapse" data-target="#collapseThreeee" aria-expanded="false" aria-controls="collapseThreeee" onclick="ToggleFunc('headingThreeee','plusThreeee')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Will FBN Mobile Chat Banking be available on the web?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusThreeee" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseThreeee" class="collapse" aria-labelledby="headingThreeee" data-parent="#accordionSupport">
            <div class="card-body">
                <ul>
                    <li>Yes. We cannot restrict operability on mobile alone as this is a native feature on FBN Mobile. The same authentication rules will apply on FBN Mobile Web. Furthermore, FBN Mobile Web cannot be operated without the host mobile phone powered on and connected to the internet. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingThreeeee" data-toggle="collapse" data-target="#collapseThreeeee" aria-expanded="false" aria-controls="collapseThreeeee" onclick="ToggleFunc('headingThreeeee','plusThreeeee')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    When a customer has multiple phone numbers on alert, can both numbers be profiled?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusThreeee" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseThreeeee" class="collapse" aria-labelledby="headingThreeeee" data-parent="#accordionSupport">
            <div class="card-body">
                <ul>
                    <li>No. Only the primary number on the alert platform will be profiled. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingThreeeeee" data-toggle="collapse" data-target="#collapseThreeeeee" aria-expanded="false" aria-controls="collapseThreeeeee" onclick="ToggleFunc('headingThreeeeee','plusThreeeeee')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    Does a customer need to have updated FBN Mobile to access this service and how would further FBN Mobile updates affect the service?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusThreeeee" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseThreeeeee" class="collapse" aria-labelledby="headingThreeeeee" data-parent="#accordionSupport">
            <div class="card-body">
                <ul>
                    <li>Not necessarily. It’s the same process as initiating a conversation with a contact on your phone book. The responses are managed by an engine that allows for 2-way communication. Further updates to the FBN Mobile application should not affect the service as long as the customer stays within the production branch of FBN Mobile. If a user is signed up to FBN Mobile Beta, there may be disruptions which we cannot ascertain or control. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header accordhover" id="headingThreeeeeee" data-toggle="collapse" data-target="#collapseThreeeeeee" aria-expanded="false" aria-controls="collapseThreeeeeee" onclick="ToggleFunc('headingThreeeeeee', 'plusThreeeeeee')">
            <h2 class="h2-accordion">
                <button class="accordiontext pull-left" type="button">
                    What happens if a customer misplaces the phone / SIM card or ports the line?
                </button>
                <button class="accordiontext pull-right" type="button">
                    <span id="plusThreeeeee" class="fa fa-plus"></span>
                </button>
            </h2>
        </div>
        <div id="collapseThreeeeeee" class="collapse" aria-labelledby="headingThreeeeeee" data-parent="#accordionSupport">
            <div class="card-body">
                <ul>
                    <li>You can continue to use FBN Mobile if any of the above occur as your line is basically used for onboarding on FBN Mobile. This is why we introduced the FBN Mobile PIN to ensure that in the event that the customer loses their phone or SIM, they are still secured. Transaction authentication is also done on the web so no PINs or critical information is captured in plain text during the conversations on FBN Mobile. </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <!-- SUPPORT FAQ END -->


